[submodule "ThirdParty/LBFGSpp"]
	path = ThirdParty/LBFGSpp
	url = https://github.com/yixuan/LBFGSpp
[submodule "ThirdParty/polyscope"]
	path = ThirdParty/polyscope
	url = https://github.com/nmwsharp/polyscope
